<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!Start using the bootstrap's framework>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">

    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
<link href="v3/layoutit.css" rel="stylesheet">
<!--[if lt IE 9]>
	<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="v3/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="v3/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="v3/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="v3/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="http://www.runoob.com/favicon.ico">
	<!start using the bootstrap's griddings>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="v3/jquery.htmlClean.js"></script>
<script type="text/javascript" src="v3/scripts.min.js"></script>


</head>
<body>
   <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					|新闻管理系统 <small>欢迎使用：</small>
				</h1>
			</div>
			<ul class="nav nav-tabs">
				<li class="active">
					 <a href="management.html">首页</a>
				</li>
				<li>
					 <a href="info.html">信息</a>
				</li>
				<li class="#">
					 <a href="updata_new.php">发布新闻</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							 <a href="home_page.php">退出</a>
						</li>
						<li>
							 <a href="info.html">刷新</a>
						</li>					
					</ul>
				</li>
			</ul>
		<div class="col-md-12 column" style="margin-top: 60px">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						*软件信息：
					</h3>
				</div>
				<div class="panel-body">
					1.系统名称：“新闻管理系统”
				</div>
				<div class="panel-footer">
					2.开发团队：汪明城、黄明凯、陈泽方、孙奥。
				</div>
				<div class="panel-body">
					3.参考网址：http://www.usc.edu.cn/
				</div>
			</div>
		</div>	
	</div>
  </div>
</div>
</body>
</html>